*.exe
*.lik
*.log
*.tlog
*.obj
*.idb
*.pdb
*.cd

NetworkServer/NetworkServer.exe
NetworkServer/NetworkServer.ilk
NetworkServer/NetworkServer.vcxproj
NetworkServer/NetworkServer.vcxproj.filters
NetworkServer/NetworkServer.vcxproj.user
NetworkServer/x64/Debug/NetworkServer.Build.CppClean.log
NetworkServer/x64/Debug/NetworkServer.log
NetworkServer/x64/Debug/NetworkServer.tlog/CL.command.1.tlog
NetworkServer/x64/Debug/NetworkServer.tlog/CL.read.1.tlog
NetworkServer/x64/Debug/NetworkServer.tlog/CL.write.1.tlog
NetworkServer/x64/Debug/NetworkServer.tlog/link.command.1.tlog
NetworkServer/x64/Debug/NetworkServer.tlog/link.read.1.tlog
NetworkServer/x64/Debug/NetworkServer.tlog/link.write.1.tlog
NetworkServer/x64/Debug/NetworkServer.tlog/NetworkServer.lastbuildstate
NetworkServer/x64/Debug/Server.obj
NetworkServer/x64/Debug/vc141.idb
NetworkServer/x64/Debug/vc141.pdb
